{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bg-light py3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <br>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h2 class="h3 m-5 text-black">Get in touch</h2>
            </div>
            <div class="col-md-7">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary btn-lg btn-block mb-5" value="submit message">
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content %}