{% load static %}

<!-- JavaScript files-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
{% comment %} <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/jquery-ui.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/owl.carousel.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/aos.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
